# .github/workflows/sync-upstream.yml
name: Sync upstream

on:
  schedule:
    - cron: '0 0 * * *'  # 每天UTC时间0点
  workflow_dispatch:  # 支持手动触发

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 获取所有历史

      - name: Add upstream
        run: |
          git remote add upstream https://gitlab.freedesktop.org/pulseaudio/webrtc-audio-processing.git
          git fetch upstream

      - name: Merge upstream
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git checkout main
          git merge upstream/main --no-edit
          
      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
